<main class="bag_items_main">
	<div class="bag_items_background">

		<!-- paging -->
		<div class="bag_items_paginate"><%= paginate(@bags, :window => 3) %></div>

		<!-- bag -->
		<div class="row">
			<% for bag in @bags %>
				<div class="col-xs-4">
					<div class="bag_items_card">
						<p><%= bag.name %><p>
						<hr>
						<img src="<%= bag.image_url %>" alt="the_image_of_<%= bag.name %>">
						<hr>
						<p><span class="icon_char">Price</span> ¥<%= bag.price %></p>
						<hr>
						<p>
							<span class="icon_char">Size</span>
							<% if bag.depth.present? %>
								W:<%= bag.width %>cm, H:<%= bag.height %>cm, D:<%= bag.depth %>cm
							<% else %>
								W:<%= bag.width %>cm, H:<%= bag.height %>cm
							<% end %>
						</p>
						<hr>
						<p>
							<% bag.bag_tags.each do |tag| %>
								<i class="fa fa-tag"></i>
								<% if tag.parent.present? %>
									<%= tag.name %>（<%= tag.parent.name %>）
								<% else %>
									<%= tag.name %>
								<% end %>
								<% unless tag.id == bag.bag_tags.last.id %><br /><% end %>
							<% end %>
						</p>
						<% @amazon_link = "http://www.amazon.co.jp/gp/product/" + bag.url_dp + "/ref=as_li_ss_tl?ie=UTF8&linkCode=as2&tag=yuzutas0-22" %>
						<%= button_to '詳しい情報を見る', @amazon_link, class: "btn" %>
					</div>
				</div>
			<% end %>
		</div>

		<!-- device -->
		<div class="bag_items_device">
			<p>
				<% if @device.depth.present? %>
					<%= @device.name %>（W:<%= @device.width %>cm, H:<%= @device.height %>cm, D:<%= @device.depth %>cm）が入るバッグを検索しています。
				<% else %>
					<%= @device.name %>（W:<%= @device.width %>cm, H:<%= @device.height %>cm）が入るバッグを検索しています。
				<% end %>
			</p>
		</div>

		<!-- search -->
		<div class="bag_items_search">
			<%= form_tag({ controller: :bag_items, action: :index }, {method: :get, id: :bag_items}) do %>
				<fieldset>
					<legend><p><i class="fa fa-angle-double-down"></i> 条件で絞り込み</p></legend>

					<!-- tag -->
					<p>種類</p>
					<div class="bag_items_search_tag_form">
						<p>
							<% @tags.each do |tag| %>
								<%= tag.name %>：
								<% tag.children.each do |child| %>
									<label>
										<% if @sbt.include?(child.id) || @sbt.include?(child.id.to_s) %>
											<input name="sbt[]" type="checkbox" value="<%= child.id %>" checked />
										<% else %>
											<input name="sbt[]" type="checkbox" value="<%= child.id %>" />
										<% end %>
										<%= child.name %>
									</label>
								<% end %>
								<br />
							<% end %>
						</p>
					</div>

					<!-- order by price -->
					<p>表示順</p>
					<div class="bag_items_search_price_form">
						<p>
							<% if @obp.present? && @obp == "high" %>
								<label><input name="obp" type="radio" value="no" />指定なし</label>
								<label><input name="obp" type="radio" value="high" checked />価格が高い順</label>
								<label><input name="obp" type="radio" value="low" />価格が低い順</label>
							<% elsif @obp.present? && @obp == "low" %>
								<label><input name="obp" type="radio" value="no" />指定なし</label>
								<label><input name="obp" type="radio" value="high" />価格が高い順</label>
								<label><input name="obp" type="radio" value="low" checked />価格が低い順</label>
							<% else %>
								<label><input name="obp" type="radio" value="no" checked />指定なし</label>
								<label><input name="obp" type="radio" value="high" />価格が高い順</label>
								<label><input name="obp" type="radio" value="low" />価格が低い順</label>
							<% end %>
						</p>
					</div>

				<!-- submit -->
				</fieldset>
				<input name="dii" value="<%= @device.id %>" type="hidden" />
				<p>
					<%= submit_tag('この条件で再検索', name: nil, class: "btn btn-info bag_items_search_submit") %>
				</p>
			<% end %>
		</div>

	</div>
</main>