<div class="container device_brands_container">
	<p>持ち運びたいノートPCを選択してください</p>

	<div class="row">
		<div class="col-xs-2"></div>
		
		<div class="col-xs-3">
			<p>
				<select name="device_brands" size="5">
					<% num = 0 %>
					<% for device_brand in @device_brands do %>
						<optgroup label="<%= device_brand.name %>">
	
							<% num_child = 0 %>
							<% for device_brand_child in device_brand.children %>
								<% if device_brand_child.device_items.blank? %>
									<option disabled="disabled">*** 取り扱っておりません ***</option>
								<% else %>
								<% end %>
								<option value="<%= num %>_<%= num_child %>"><%= device_brand.name %></option>
							<% end %>
	
						</optgroup>
						<% num += 1 %>
					<% end %>
				</select>
			</p>
		</div>
		
		<div class="col-xs-2">
			<i class="fa fa-arrow-right"></i>
		</div>
		
		<div class="col-xs-3">
			<p>
				<select name="device_items" size="5">
					<% for device_item in @device_brands[0].device.device_items do %>
						<option value="<%= device_item.id %>"><%= device_item.name %></option>
					<% end %>
				</select>
			</p>
		</div>

		<div class="col-xs-2"></div>
	<div class="row">
</div>



<!--
<ul>
	<% for device_brand in @device_brands do %>
	<li><%= device_brand.name %></li>
	<ul>

		<% for device_brand_child in device_brand.children %>
		<li><%= device_brand_child.name %></li>
		<ul>

			<% if device_brand_child.device_items.blank? %>
			<li>*** このシリーズの機種は現在取り扱っておりません ***</li>
			<% end %>
			<% for device_item in device_brand_child.device_items %>
			<li><%= device_item.name %></li>
			<% end %>

		</ul>
		<% end %>

		<% if device_brand.children.blank? && device_brand.device_items.blank? %>
		<li>*** このシリーズの機種は現在取り扱っておりません ***</li>
		<% end %>
		<% for device_item in device_brand.device_items %>
		<li><%= device_item.name %></li>
		<% end %>

	</ul>
	<% end %>
</ul>
-->


