<div class="container device_brands_container">
	<p>持ち運びたいノートPCを選択してください</p>

	<%= form_tag({ controller: :device_brands, action: :index }, id: :device_brands) do %>
		<%= select_tag 'device_brand', options_from_collection_for_select(@device_brands, :id, :name), :size => 8 %>
	<% end %>


	
	<select name="device_brand" size="8">
		<% for device_brand in @device_brands %>
			<% if device_brand.children.present? || device_brand.device_items.present? %>
				<% @val = "b_" + device_brand.id.to_s %>
				<option value="<%= @val %>"><%= device_brand.name %></option>
			<% end %>
		<% end %>
	</select>
</div>



<!--
<ul>
	<% for device_brand in @device_brands do %>
	<li><%= device_brand.name %></li>
	<ul>

		<% for device_brand_child in device_brand.children %>
		<li><%= device_brand_child.name %></li>
		<ul>

			<% if device_brand_child.device_items.blank? %>
			<li>*** このシリーズの機種は現在取り扱っておりません ***</li>
			<% end %>
			<% for device_item in device_brand_child.device_items %>
			<li><%= device_item.name %></li>
			<% end %>

		</ul>
		<% end %>

		<% if device_brand.children.blank? && device_brand.device_items.blank? %>
		<li>*** このシリーズの機種は現在取り扱っておりません ***</li>
		<% end %>
		<% for device_item in device_brand.device_items %>
		<li><%= device_item.name %></li>
		<% end %>

	</ul>
	<% end %>
</ul>
-->


