<!DOCTYPE html>
<html>
<head>
  <title>HileSearch</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
	<h1>Hile Search(α)</h1>
	<h2>あなたのノートPCが入るバッグをサーチします</h2>
	<% if @device_count.present? && @bag_count.present? %>
	<p>現在<%= @device_count %>種類のノートPCと<%= @bag_count %>種類のバッグに対応中</p>
	<% end %>
</header>

<%= yield %>

<footer>
	<p>
		Hile Search(α)はWeb上の情報からPCとバッグのサイズを取得・編集して情報を提供するサービスです。</br>
		本サービスを利用したことにより発生したいかなる損害に対しても、本サービス運営者はその責任を負わないものとします｡
	</p>
	<a href="">ご意見・ご要望</a>
</footer>

</body>
</html>
